{% extends "lesson/teacher_lessonBasis.tmpl" %}
	{% block main %}

	{% endblock %}		
	{% block javascript %}
		<script>var idTemetable = {{idTemetable}};</script>
		<script src="public/js/newLesson.js"></script>
	{% endblock %}	