{% extends "index/teacher_index.tmpl" %}
	{% block sectionMenu %}
		<h2>Страница занятий группы.</h2>
		<div class="mainnav">
			<p>
				<span><a href=""></a></span>
				<span><a href=""></a></span>
			</p>
		</div>
	{% endblock %}	