{% extends "base.tmpl" %}
	{% block main %}
		<div class="userAuthentification">
			<form method="post" name="userRegForm"  action="http://courses/user/register" class="userAuthentForm">
				<p>Заполните форму регистрации</p>
				<table>
				<tr><td><input type="text" name="username" value="{{username}}"></input></td><td>username</td></tr>
				<tr><td><input type="text" name="login" value="{{login}}"></input></td><td>login</td></tr>
				<tr><td><input type="password" name="password"></input></td><td>password</td></tr>
				<tr><td><input type="password" name="password2"></input></td><td>повторите пароль</td></tr>
				<tr><td><input type="reset"></input></td><td><input type="submit" name="userRegFormGo"></input></td></tr>
				</table>
			{% if errFlag %}	
				<p class="stringError">{{errString}}</p>
			{% endif %}
			</form>
			<p>Или вы можете <a href="http://courses/user/login">залогиниться</a></p>
		</div>
	{% endblock %}	
