{% extends "index/manager_index.tmpl" %}
	{% block sectionMenu %}
		<h2>Страница управления группами.</h2>
		<div class="mainnav">
			<p>
			<span><a href="/groups/archiv">Архив групп</a></span>
			<span><a href="/groups/index">Все группы</a></span>
			<span><a href="/groups/create">Запланировать группу</a></span>
			<span><a href="/groups/start">Старт обучения группы</a></span>
			<span><a href="/groups/ending">Окончание обучения группы</a></span>
			<span><a href="/groups/students">управление составом группы</a></span>
			</p>
		</div>
	{% endblock %}