{% extends "groups/manager_groupsBasis.tmpl" %}
	{% block main %}
	<aside class="groupaside clearfix">
		<div id="asideAjaxGroupsContent" class="asideAjaxContent"></div>
	</aside>
	<section class="groupsection clearfix">
		<div id="personalData" class="asideAjaxContent"></div>
	</section>
	{% endblock %}		
	
	{% block javascript %}
		<script src="public/js/groupEnding.js"></script>
	{% endblock %}	
