{% extends "index/manager_index.tmpl" %}
	{% block sectionMenu %}
		<h2>Страница управления студентами.</h2>
		<div class="mainnav">
			<p>
				<span><a href="/teachers/index">Все преподаватели</a></span>
				<span><a href="/teachers/create">Добавить</a></span>
				<span><a href="">Уволить</a></span>
			</p>
		</div>
	{% endblock %}	