{% extends "base.tmpl" %}
	{% block nav %}
		<p>
			<span><a href="/index/index">Главная</a></span>
			<span><a href="">Специальности</a></span>
			<span><a href="">Группы</a></span>
			<span><a href="">Аудитории</a></span>
			<span><a href="">Студенты</a></span>
			<span><a href="">Преподаватели</a></span>
			<span><a href="/access/index">Управление доступом</a></span>
		</p>
		<p class="pathString">{{pathAccess}}</p>
	{% endblock %}	
