{% extends "base.tmpl" %}
	{% block nav %}
		<p>
			<span><a href="">Главная</a></span>
			<span><a href="">Расписание</a></span>
			<span><a href="">Журнал</a></span>
			<span><a href="">Студенты</a></span>
		</p>	
	{% endblock %}	
