{% extends "index/teacher_index.tmpl" %}
	{% block sectionMenu %}
		<h2>Страница управления расписанием.</h2>
		<div class="mainnav">
			<p>
				<span><a href="/temetable/index">Общее расписание</a></span>
				<span><a href="/temetable/person">мое расписание</a></span>
			</p>
		</div>
	{% endblock %}	