{% extends "index/manager_index.tmpl" %}
	{% block main %}
		<h2>Страница управления аудиториями.</h2>
		<div class="mainnav">
			<p>
				<span><a href="/auditorias/index">Все аудитории</a></span>
				<span><a href="/auditorias/create">Добавить аудиторию</a></span>
				<span><a href="">Удалить аудиторию</a></span>
			</p>
		</div>
	{% endblock %}	
